*.gem
*.rbc
*.so
.bundle
.config
Gemfile.lock
coverage
test_data
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*~
.#*
\#*
*so
dryrun

# YARD artifacts
.yardoc
_yardoc
doc/
.ruby-version

# large test files not for repo
dryrun
*.blast
*.phr
*.pin
*.psq
*.nhr
*.nin
*.nsq
*.bt2
*.fai
*.bam
*.csv
*.coverage

# c extension build artefacts
Makefile
transrate.bundle
transrate.o
.RUBYARCHDIR.time
