*.gem
*.rbc
*.so
.bundle
.config
Gemfile.lock
coverage
test_data
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*~
.#*
\#*
*so
dryrun
.DS_Store

# YARD artifacts
.yardoc
_yardoc
doc/
.ruby-version

# large test files not for repo
dryrun
*.blast
*.phr
*.pin
*.psq
*.nhr
*.nin
*.nsq
*.bt2
*.fai
*.bam
*.csv
*.coverage

# c extension build artefacts
# note that we manually add these in a release,
# but don't want them updated in general
Makefile
transrate.bundle
transrate.o
.RUBYARCHDIR.time

# vagrant stuff
.vagrant

# large test files
test/data/sorghum_100.1.fastq
test/data/sorghum_100.2.fastq

# packaging stuff
*.tar.gz
transrate-*
packaging/bindeps
packaging/vendor
packaging/packaging
traveling-ruby*
*box
libruby.so*
