span.A{background-color:#6A48D7;color:#000000;}
span.C{background-color:#00C618;color:#000000;}
span.G{background-color:#FFD300;color:#000000;}
span.T{background-color:#FF0D00;color:#000000;}
span.N{background-color:#006363;color:#000000;}
span.gap{background-color:#FFFFFF;color:#000000;}
span.U{background-color:#ED3B83;color:#000000;}